<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        home page
        {% endblock %}
    </title>
    {% include 'refrences/header_refrences.html' %}
</head>
<body>
{% include 'main/header.html' %}

{% block contect %}

{% endblock %}

{% include 'main/footer.html' %}
<script src="https://js.stripe.com/v3/"></script>
{% include 'refrences/footer_refrences.html' %}

{% block postloadjs %}

{% endblock %}

</body>
</html>