
    <footer class="footer">
        <div class="container ">
            <div class=" d-flex flex-column flex-lg-row justify-content-between align-items-center ">
                    <div class="single_footer">
                        <h4 class="text-light"> Nova shop</h4>
                        <div>
                            <p class="text-light">
                                if you need help <br> you can connect us with facebook or contact form
                              </p>
                        </div>

                        <div class="d-flex  justify-content-between align-items-center" >
                                 <a href="https://www.facebook.com/profile.php?id=100094030952664">
                                    <i class="bi bi-facebook text-light h1"> </i>
                                </a>

                             <a href="{% url 'contact_with_us' %}" class="btn btn-warning">contact with us</a>

                        </div>


                        </div>

                        <div>
                                  <form  class="form-control w-75 m-4" method="post" action="{% url 'news_teller'%}">
                    {% csrf_token %}
                    <div class="row g-3 align-items-center">
                  <div class="col-auto">
                    <label for="input6" class="col-form-label">join our news teller</label>
                  </div>
                  <div class="col-auto">
                    <input type="email" id="input7" class="form-control" placeholder="email" name="newstelleremail">
                        <button class="btn btn-success my-2">submit</button>
                  </div>
                </form>


                        </div>

                <div>

                    <form class="form-control w-75 m-4 " method="post" action="{% url 'remove_news_teller'%}">
                    {% csrf_token %}
                    <div class="row g-3 align-items-center">
                  <div class="col-auto">
                       <label for="input7" class="col-form-label">remove news teller</label>

                  </div>
                  <div class="col-auto">
                    <input type="email" id="input6" class="form-control" placeholder="email" name="removenewstelleremail">
                        <button class="btn btn-danger my-2">remove</button>
                  </div>
                </form>

                </div>





              </div>








    </footer>