<header>
  <navbar class="nav d-lg-flex d-none justify-content-evenly color-nav">
    <div class=" d-flex justify-content-around w-100 my-4 align-items-center">
    <div class="h5">
      <a href="{% url 'home_pgae' %}" class="text-decoration-none  text-light h2 ">
      Nova botique
    </a>

      </div>

    <div>
         {% if user.is_authenticated %}
      <i class="bi bi-cart2 h3" ></i>
        <a class=" text-decoration-none text-light" href="{% url 'shoping_cart' %}"> shoping cart </a>
         {% else %}
              <i class="bi bi-cart2 h3" ></i>
        <a class=" text-decoration-none text-light" href="{% url 'login_page' %}"> shoping cart </a>
         {% endif %}
    </div>
    {% if user.is_authenticated %}
            <a href="{% url 'profile' %}"><i class="bi bi-person-circle prof text-light">profile</i> </a>
            {% else %}
      <a href="{% url 'sign_up' %}"   class="btn btn-warning me-3 text-dark"> login/signup</a>
        {% endif %}
 <div>
      <div class="input-group">
          <form action="{% url 'search' %}" method="post">
              {% csrf_token %}

                <div class="input-group">
                  <input type="search" class="form-control rounded" name="search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                  <button type="submit" class="btn btn-outline-warning" data-mdb-ripple-init>search</button>
                </div>
          </form>
</div>
  </div>

    </div>




  </navbar>



  <nav class="w-75 nav  d-lg-none fixed-bottom mx-auto my-2 color-nav border-read">
    <ul
      class="hover-links container d-flex justify-content-evenly align-items-center my-3 h-auto px-4"
    >
        {% if user.is_authenticated %}
         <li class="d-flex flex-column justify-content-around">
        <i class="bi bi-person mx-1 icon"></i>
        <a class="text-light text-decoration-none" href="{% url 'profile' %}">profile</a>

     </li>
            {%else %}
                <li class="d-flex flex-column justify-content-around">
        <i class="bi bi-person mx-1 icon"></i>
        <a class="text-light text-decoration-none" href="{% url 'login_page' %}">profile</a>

        {% endif %}


    {% if user.is_authenticated %}
         <li class="d-flex flex-column justify-content-around">
        <i class="bi bi-cart2 h3" ></i>
        <a class="text-light text-decoration-none" href="{% url 'shoping_cart' %}">cart</a>

      </li>
            {%else %}
                <li class="d-flex flex-column justify-content-around">
        <i class="bi bi-cart2 h3" ></i>
        <a class="text-light text-decoration-none" href="{% url 'login_page' %}">cart</a>

        {% endif %}

      <li class="d-flex flex-column justify-content-around">


        <i class="bi bi-house-door mx-1 icon"></i>
        <a class="text-light text-decoration-none" href="{% url 'home_pgae' %}"> home </a>
      </li>

        <li class="d-flex flex-column justify-content-around">


        <i class="bi bi-search mx-1 h4"></i>
        <button class="text-light text-decoration-none bt" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> search </button>
      </li>



    </ul>
  </nav>
</header>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">search box </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                        <form  action="{% url 'search' %}" method="post">
                             <div class="modal-body">
                                 <div class="input-group">
                            {% csrf_token %}
                                <input  type="search" class="form-control rounded" name="search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                            <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
                            </div>
                                  </div>
                        </form>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                  </div>
                </div>
              </div>
            </div>

    </div>




