* {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .signup-form {
    
    margin: 0 auto;
    text-align: center;
    /* background-color: #6c757d;; */
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    width: 400px;
    height: 100%;
    padding: 15px 20px;
    max-width: 100%;
    border-radius: 10px;
    font-size: small;
  }


  .signup-form h1 {
    margin-bottom: 3px;
    color: white;
  }

  .signup-form div {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    margin: 5px;

  }



  .signup-form label {
    margin: 2px 0 5px 0;
    cursor: pointer;

    font-size: 16px;
    
  }
  
  .signup-form input {
    padding: 5px;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    width: 95%;
    
  }
  
.required::after {
  content: ' *';
  color: red;
}



  #license{
    margin: 10px;
    font-size: 14px;
  }