{% extends 'main/base.html' %}
{% load widget_tweaks %}

{% block title %}
detail cart
{% endblock %}



{% block contect %}
    <p class="text-danger m-auto container">order detials</p>

    {% for foo in order_detail_final_price %}
    {{ foo. }}
    {% endfor %}


        <div class=" sizeeeee d-flex align-item-center justify-content-between flex-column ">
        <div class="my-2  w-75 d-flex align-item-center justify-content-between"> <p class=" fw-bold" >full name:</p>    <p>{{ detail.full_name }}</p></div>
        <div class="my-2  w-75 d-flex align-item-center justify-content-between"><p class=" fw-bold" >email address : </p>  <p>{{ detail.email_address }}</p> </div>
        <div class="my-2  w-75 d-flex align-item-center justify-content-between"> <p class=" fw-bold" >phone number : </p> <p>{{ detail.phone_number }}</p></div>
        <div class="my-2  w-75 d-flex align-item-center justify-content-between"><p class=" fw-bold" > street address : </p> <p>{{ detail.street_address1 }}</p></div>
        <div class="my-2  w-75 d-flex align-item-center justify-content-between"><p class=" fw-bold" >city :</p>  <p>{{ detail.country_state_or_location }}</p></div>
        <div class="my-2  w-75 d-flex align-item-center justify-content-between"><p class=" fw-bold" >state :  </p>  <p>{{ detail.country_state_or_location }}</p></div>
        <div class="my-2  w-75 d-flex align-item-center justify-content-between"><p class=" fw-bold" >post code :</p>   <p>{{ detail.post_code }}</p></div>
        <div class="my-2 w-75 d-flex align-item-center justify-content-between"><p class=" fw-bold" >payment date : </p>   <p>{{ payment_datea.order.payment_date}}</p></div>







        <a class="btn btn-info w-50 my-3" href="{% url 'profile'%}">see profile</a>
    </div>


{% endblock %}