{% extends 'main/base.html' %}
{% load widget_tweaks %}

{% block title %}
edit data
{% endblock %}



{% block contect %}


 <div class="row container my-5">
        <div class="col-md-6">
          <div class="form_container">
            <form method="post">
               {% csrf_token %}
              <div class="my-2">
                  <label >first name</label>
                  {% render_field form.first_name class+="form-control" %}
              </div>

               <div class="my-2">
                   <label >last name</label>
               {% render_field form.last_name class+="form-control" %}
              </div>
              <div class="my-2">
                  <label > email</label>
                {% render_field form.email class+="form-control" %}
              </div>
             <div class="my-2">
                 <label > phone number</label>
                 {% render_field form.phone_number class+="form-control" %}
              </div>
           <div class="my-2">
                <label > username</label>
                 {% render_field form.username class+="form-control" %}
              </div>






                  <button type="submit" id="set" class="btn btn-success" value="Update">sumbit</button>
                  <a href="{% url 'profile' %}" type="button" id="cancel" class="btn btn-danger" >cancel</a>


            </form>
          </div>
        </div>

      </div>



{% endblock %}