{% extends 'main/base.html' %}
{% load widget_tweaks %}

{% block title %}
sign up
{% endblock %}



{% block contect %}

   <main class="my-5">

        <form action="{% url 'login_page' %}" method="post" class="signup-form border-1 ">
              <p >
                  {{ login_form.errors }}
              </p>
            {% csrf_token %}
            <h2 class="text-danger">login</h2>

            <div >
                 <lable>email</lable>
              {% render_field login_form.email  class+="form-control"  %}
            </div>


            <div>
                <lable>password</lable>
              {% render_field login_form.password class+="form-control"  %}
            </div>

        <button class="btn btn-success" type="submit" > submit</button>
            <a href="{% url 'forget_password_page' %}">forgot your password?</a>
            <a class="btn btn-primary" href="{% url 'sign_up' %}">sign up</a>
        </form>
    </main>
{% endblock %}