{% extends 'main/base.html' %}
{% load  static %}
{% block title %}
profile
{% endblock %}


{% block contect %}
    {% if user.is_authenticated %}
        <div class="container my-5"  >
        <a href="{% url 'logout_page' %}">log out >></a>

        {% for foo in fav %}
            <div class="cards-container">
        <div class="card m-2 shadow" data-aos="zoom-in" data-aos-delay="100">
            <img
              src="{{ foo.image.url }}"
              class="card-img-top"
              alt="{{foo.name}}"
            />
            <div class="card-body text-dark d-flex justify-content-around flex-column">
              <h5 class="card-title">{{ foo.name }}</h5>
              <div class=" d-flex align-items-center justify-content-between">
                <h6 class=" text-primary ">$ {{ foo.price }}</h6>

              </div>
              <a href="{% url 'remove_fav' foo.pk %}" class="btn btn-danger  ">remove</a>
            </div>
          </div>
            </div>
        {% endfor %}





    {% endif %}


    <div class="container my-5">
        <p>check out order list</p>

         <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">count</th>
      <th scope="col">color</th>
      <th scope="col">size</th>
      <th scope="col">price</th>
      <th scope="col">paid</th>
    </tr>
  </thead>
  <tbody>
   {% for foo in order %}
         <tr>
      <td>{{ foo.product.name }}</td>
      <td>{{ foo.count }}</td>
      <td>{{ foo.color }}</td>
      <td>{{ foo.size }}</td>
      <td>${{ foo.final_price }}</td>
      <td><i class="bi bi-check-circle text-success"></i></td>
    </tr>
    {% endfor %}



  </tbody>
</table>







    </div>

        </div>


    <div class="container mx-5 my-5">
        <form action="{% url 'send_email_to_all' %}" method="post">
            {% csrf_token %}

        <p>you can send email with this button in newsteller</p>
    <button type="button" onclick="sendMail()" class="btn btn-success">send email</button>
        </form>
    </div>

{% endblock %}


