{% extends 'main/base.html' %}
{% load  static %}
{% block title %}
profile
{% endblock %}


{% block contect %}
    {% if user.is_authenticated %}
        <div class="container my-5"  >
        <a href="{% url 'logout_page' %}">log out >></a>

        {% for foo in fav %}
            <div class="cards-container">
        <div class="card m-2 shadow" data-aos="zoom-in" data-aos-delay="100">
            <img
              src="{{ foo.image.url }}"
              class="card-img-top"
              alt="{{foo.name}}"
            />
            <div class="card-body text-dark d-flex justify-content-around flex-column">
              <h5 class="card-title">{{ foo.name }}</h5>
              <div class=" d-flex align-items-center justify-content-between">
                <h6 class=" text-primary ">$ {{ foo.price }}</h6>

              </div>
              <a href="{% url 'remove_fav' foo.pk %}" class="btn btn-danger  ">remove</a>
            </div>
          </div>
            </div>
        {% endfor %}





    {% endif %}


    <div class="container my-5">
        <p>chck out list</p>

    </div>

        </div>




{% endblock %}


