{% extends 'main/base.html' %}
{% load widget_tweaks %}

{% block title %}
sign up
{% endblock %}



{% block contect %}

   <main class="my-5">

        <form action="{% url 'sign_up' %}" method="post" class="signup-form border-1 ">
              <p class="text text-danger">
                  {{ register_form.errors }}
              </p>
            {% csrf_token %}
            <h1>signup</h1>
            <div>

                <lable>name</lable>

             {% render_field register_form.name  class+="form-control" %}

            </div>
            <div>
                 <lable>email</lable>
              {% render_field register_form.email  class+="form-control"  %}
            </div>

            <div>
                <lable>phone number</lable>
              {% render_field register_form.phone_number class+="form-control"  %}
            </div>
            <div >
                <lable>password</lable>
              {% render_field register_form.password class+="form-control"  %}
            </div>

            <a href="{% url 'login_page' %}"> have an accoung?</a>
        <button class="btn btn-success" type="submit" > submit</button>
        </form>
    </main>
{% endblock %}