<div >
    <h2> order pay successfully </h2>
    <hr>
    <p> you can see your order now !</p>
    <p>
        <a href="https://botiuqnova-ae121ab1d794.herokuapp.com/{% url 'profile' %}">
            see order in profile</a>
    </p>

    <p>order detail</p>


    {% for foo in order_basket %}
      <div>order number : {{ foo.order_number }}</div>
      <div>product name : {{ foo.product.name }}</div>
        <div>count :{{ foo.count }}</div>
        <div>size : {{ foo.size }}</div>
        <div>color : {{ foo.color }}</div>
        <div>cost : $ {{ foo.final_price }}</div>
        <hr>
        <hr>

    {% endfor %}




    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <p>delivary detail</p>

     <div>full name : {{ date.full_name }}</div>
        <div>email address : {{ date.email_address }} </div>
        <div>phone number :{{ date.phone_number }}</div>
        <div>street address : {{ date.street_address1 }}</div>
        <div>city : {{ date.town_or_city }}</div>
        <div>state :  {{ date.country_state_or_location }}</div>
        <div>post code :  {{ date.post_code }}</div>
        <div>country :  {{ date.country }}</div>
</div>